{% extends 'base.html' %} {% block content %}
<body>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />

  <div>
   <div class='empty_container'>
    </div>
   <h2 class="favorite_joke_header">My Favorite Jokes</h2>
  {% if user.favorites.count %}
  <ul>
  {% for joke in user.favorites.all %}
    <div class='container'>
      <li>
        <h1 class="joke-card faves">{{joke}}</h1>
        <form action="{% url 'disassoc_favorite' joke.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn cyan darken-2 button">Remove Favorite</button>
        </form>
      </li>
    </div>
    <hr/>
  {% endfor %}
  </ul>
  {% else %}
  <h5 class="joke-card">No Favorite Jokes Yet </h5>
  {% endif %}
</body>

{% endblock %}
