{% extends 'base.html' %} {% block content %}
  <body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <div class="container">

      {% if user.is_authenticated %}
        <h2>Welcome, {{ user.get_username }}!</h2>
        {% endif %}
        {% if user.profile.profile_pic.url %}
            <img src="{{user.profile.profile_pic.url}}" width="200" height="200">
        {% endif %}
        
        <p><a href="{% url 'editprofile' %}">Edit Profile</a></p>

        {% if user.is_authenticated %}
        <h1>{{ user.get_username }} </h1>
        
            {% if user.profile.bio %}
            <p>{{user.profile.bio}}</p>
            {% endif %}
        
            {% if user.profile.facebook_url %}
            <i class="fa fa-facebook-official" style="font-size:48px;color:blue"></i>
            <p><a href="{{ user.profile.facebook_url }}">Facebook</a></p>
            {% endif %}
            {% if user.profile.twitter_url %}
            <i class="fa fa-twitter" style="font-size:48px;color:skyblue"></i>
            <p><a href="{{ user.profile.twitter_url }}">Twitter</a></p>
            {% endif %}
            {% if user.profile.instagram_url %}
            <i class="fa fa-instagram" style="font-size:48px;color:red"></i>
            <p><a href="{{ user.profile.instagram_url }}">Instagram</a></p>
            {% endif %}
            
            {% if user.profile.website_url %}
            <i class="fa fa-user" style="font-size:48px;color:black"></i>
            <p><a href="{{ user.profile.website_url }}">My Website</a></p>

            {% endif %}
          

              {% else %}
                    <p>Welcome, new user. Please log in.</p>
                    {% endif %}
          
          <p><a href="{% url 'myfavoritejokes' %}">My Favorite Jokes</a></p>
          <p>View all submitted jokes</p>


        </div>
    </body>

{% endblock %}
