{% extends 'base.html' %} {% block content %}
   <body>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <div class="container">
            <h1>This is my profile page!</h1>
            
            <h1>Username:</h1>
            <p>Bio</p>
            <h1>Games Won: -20</h1>
            <h1>Games Lost: 20</h1>
            <p>View all submitted jokes</p>
            <p>View my favorite jokes</p>
        </div>
    </body>

{% endblock %}
