{% extends 'base.html' %}
{% block content %}

<h1>About Us</h1>
<hr>
<p>"Laughter is the best medicine," or so they say, and with all the craziness that life can bring (especially during Covid-19) sometimes you just need a laugh to bring your mood back in check...even if it's through silly "dad" jokes.</p>

<h4>That's where we come in!</h4>

<h2>Meet the team!</h2>
<section class="container" style="display: flex;">
    <div class="container card" style="justify-content: space-between;">
        <div class="container card-content">
            <h2 class="team member_name">Jenn</h2>
            <h4 class="team nickname">"The Beast"</h4>
            <img class="team avatar" src="../static/images/the_beast.png">
        </div>
    </div>
    <div class="container card" style="justify-content: space-between;">
        <div class="container">
            <h2 class="team member_name">Kariel ("Kaye")</h2>
            <h4 class="team nickname">"The Princess"</h4>
            <img class="team avatar" src="../static/images/the_princess.png">
        </div>
    </div>
    <div class="container card" style="justify-content: space-between;">
        <div class="container">
            <h2 class="team member_name">Randy</h2>
            <h4 class="team nickname">"Great White"</h4>
            <img class="team avatar" src="../static/images/great_white.png">
        </div>
    </div>
    <div class="container card" style="justify-content: space-between;">
        <div class="container">
            <h2 class="team member_name">Sean</h2>
            <h4 class="team nickname">"404 nickname not found"</h4>
            <img class="team avatar" src="../static/images/nickname_not_found.png">
        </div>
    </div>
</section>

<p>, and together we're...</p>

<h2>"The Jokesters"</h2>
<h6>(yes, goofy name, but that's the point, right?)</h6>

<p>Using state-of-the-art AWESOMENESS...err...technology, we've curated the best (or worst) silly jokes ever told...EVER!!</p>

<p>Now...</p><a href="/" style="font-size: 7em;">GET YOUR CHUCKLE ON!!!</a>
{% endblock %}