

{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
<h1 class="aboutus_header">About Us</h1>
<hr>
<p class="aboutus_p">"Laughter is the best medicine," or so they say, and with all the craziness that life can bring (especially during Covid-19) sometimes you just need a laugh to bring your mood back in check...even if it's through silly "dad" jokes.
Using state-of-the-art AWESOMENESS...err...technology, we've curated the best (or worst) silly jokes ever told...EVER!!
That's where we come in!</p>

<h3 class="aboutus_meet">Meet "The Jokesters"!</h3>
<section class="aboutus_container">
    
        <div class="container card-content">
            <h3 class="member">Jenn</h2>
            <h4 class="aboutus_p">"The Beast"</h4>
            <img class="team avatar" src="../static/images/the_beast.png">
        </div>
    
  
        <div class="container">
            <h3 class="member">Kariel ("Kaye")</h2>
            <h4 class="aboutus_p">"The Princess"</h4>
            <img class="team_avatar" src="../static/images/the_princess.png">
        </div>
  
    
        <div class="container">
            <h3 class="member">Randy</h2>
            <h4 class="aboutus_p">"Great White"</h4>
            <img class="team avatar" src="../static/images/great_white.png">
        </div>
  
   
        <div class="container">
            <h3 class="member">Sean</h2>
            <h4 class="aboutus_p">"404 nickname not found"</h4>
            <img class="team avatar" src="../static/images/nickname_not_found.png">
        </div>
  
</section>



{% endblock %}