{% extends 'base.html' %} {% block content %}
<body>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />

        {% for joke in jokes %}
          {% if joke.joke != None%}
            <div class="container card">
              <div class="container card-content">
                <h2>{{joke.joke}}</h2>
                <a href="{% url 'joke_category' joke.category.1|lower|cut:' ' %}" class="waves-effect waves-light btn"><i class="material-icons left">view_headline</i>See more {{joke.category.1}} jokes</a>
                <a href="{% url 'joke_details' joke.joke.id %}" class="waves-effect waves-light btn"><i class="material-icons left">view_headline</i>Comments</a>
              </div>
            </div>
          {% endif %}
        {% endfor %}
    </body>

{% endblock %}
