{% extends 'base.html' %} {% block content %}

<body>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />



  <div class="container">
    {% if user.is_authenticated %}
    <p class="welcome">
      Welcome, {{ user.get_username }}!
    </p>
    {% else %}

    {% endif %}
    <p class="welcome">Today's daily joke is presented to you by AutoJokester...</p>
    <h1 id="homejoke">{{random_joke}}</h1>
    <p>Want more jokes? <a href="{% url 'login' %}" class="headerlinks">Log In</a> or 
    <a href="{% url 'signup' %}" class="headerlinks">Sign Up!</p>

    

  </div>
</body>

{% endblock %}
