{% extends 'base.html' %} {% block content %}

<body>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />

  <div class="container">
    {% if user.is_authenticated %}
    <p class="welcome">
      Welcome, {{ user.get_username }}. Thanks for logging in.
    </p>
    {% else %}
    <p class="welcome">Welcome! Please log in.</p>
    {% endif %}
    <h1 id="homejoke">{{random_joke}}</h1>
  </div>
</body>

{% endblock %}
