{% extends 'base.html' %} {% block content %}

<h1>Add A Joke!</h1>

<form action='postsubmit' method='post'>
    {% csrf_token %}
    <label>Joke:</label>
    <input type='text'></input>
    
    <label for='category'>Category:</label>
    <div class='dropdown'>
    <select name='category' id='category'>
        <option value="animal">Animal</option>
        <option value="chucknorris">Chuck Norris</option>
        <option value="computer">Computer</option>
        <option value="dad">Dad Jokes</option>
        <option value="knockknock">Knock Knock</option>
        <option value="pun">Pun</option>
        <option value="random">Random</option>
        <option value="sports">Sports</option>
        <option value="bar">... Walks into a Bar</option>
        <option value="yomama">Yo Mama</option>
    </select>
    </div>
    <br/>
    <input type='submit' value='Submit'>
</form>

{% endblock %}
